<p id="notice"><%= notice %></p>

<h1>Tabs</h1>

<table>
  <thead>
    <tr>
      <th>Tab total</th>
      <th>Initial amount owed</th>
      <th>Owed by user</th>
      <th>Owed to user</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= tab.tab_total %></td>
        <td><%= tab.initial_amount_owed %></td>
        <td><%= tab.owed_by_user_id %></td>
        <td><%= tab.owed_to_user_id %></td>
        <td><%= tab.description %></td>
        <td><%= link_to 'Show', tab %></td>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
        <td><%= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab', new_tab_path %>
