<p id="notice"><%= notice %></p>

<p>
  <strong>Tab:</strong>
  <%= @payment.tab_id %>
</p>

<p>
  <strong>Paying user:</strong>
  <%= @payment.paying_user_id %>
</p>

<p>
  <strong>Submitting user:</strong>
  <%= @payment.submitting_user_id %>
</p>

<p>
  <strong>Payment amount:</strong>
  <%= @payment.payment_amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
